.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 95vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.content {
  font-size: 16px;
}

.logo > img {
  height: 57px;
}
