.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 95vw;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.875rem;
  padding: 0 1rem;
}

.content {
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  height: 52px;
}

.card {
  --bs-card-shadow: 10px 10px 40px rgba(var(--bs-box-shadow-rgb), 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 25rem;
  height: 25rem;
  padding: 1.875rem;
  border-radius: 1rem;
  box-shadow: var(--bs-card-shadow);
  text-align: start;
}
