header {
  display: flex;
  gap: 10vw;
  align-items: center;
  height: 75px;
  padding: 0 2vw;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #505050;
  --bs-nav-link-hover-color: #000;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -2.5%;
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: none;
  border: 0;
}

.nav-link:hover,
.nav-link:active {
  color: var(--bs-nav-link-hover-color);
}
