.welcome > p {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -2.5%;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  max-width: 1320px;
  border-radius: 40px;
}
