@import 'tailwindcss';

body {
  color: #767676;
  font-weight: 500;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  line-height: 140%;
  letter-spacing: -2.5%;
  color: #111111;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
}
